<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="contain1">
        <div class="ram">
            <h1 id='h22'>Ploting the Matplotlib using python</h1>
        </div>
    </div>
    <div class="conatner">
        <div class="items">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" alt="Card Image">
                <h3>Card Title 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet sapien id nisi facilisis bibendum.</p>
                <button>Read More</button>
            </div>
           
        </div>
        <div class="items">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" alt="Card Image">
                <h3>Card Title 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet sapien id nisi facilisis bibendum.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" alt="Card Image">
                <h3>Card Title 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet sapien id nisi facilisis bibendum.</p>
                <button>Read More</button>
            </div>
        </div>
    </div>
</body>
</html>